build/
out/
.cache/
.vs/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
compile_commands.json
generated/

# Android
local.properties
.gradle/
android/.gradle/
gradle-app.setting
!gradle-wrapper.jar
android/app/build/
android/build/
.cxx/
.externalNativeBuild/
*.apk
*.aab
*.ap_
*.dex
.idea/
*.iml
*.swp
.DS_Store
Thumbs.db
captures/
*.hprof
android/.vscode/